[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IvanKosev
[access "refs/for/refs/*"]
	read = group user/IvanKosev
	push = group user/IvanKosev
	label-Code-Review = -2..+2 group user/IvanKosev
	label-Verified = -1..+1 group user/IvanKosev
	rebase = group user/IvanKosev
	removeReviewer = group user/IvanKosev
	submit = group user/IvanKosev
[access "refs/heads/*"]
	read = group user/IvanKosev
	create = group user/IvanKosev
	push = +force group user/IvanKosev
	pushMerge = group user/IvanKosev
[access "refs/tags/*"]
	push = group user/IvanKosev
	push = +force group user/IvanKosev
